.top-bar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  padding: 1rem 2rem;

  backdrop-filter: blur(7px);
  background-color: rgba(240, 240, 240, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
  padding: 1rem 2rem;
}
