<p-table [columns]="columns"
         [value]="data"
         dataKey="cca3"
         [loading]="dataLoading"
         [sortField]="sortField"
         [expandedRowKeys]="expandedRows"
         [customSort]="true"
         (sortFunction)="sortData.emit($event)"
         [scrollable]="false"
         styleClass="p-datatable-striped"
         (onRowExpand)="rowExpand.emit($event.data.cca3)"
         (onRowCollapse)="rowCollapse.emit($event)">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>

      @for (col of columns; track col.field) {
        @if (col.sortFn) {
          <th [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field" />
          </th>
        } @else {
          <th>{{ col.header }}</th>
        }
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-records let-rowIndex="rowIndex" let-columns="columns" let-expanded="expanded">
    <tr>
      <td class="flex-grow-1 justify-content-center md:text-right">{{ rowIndex + 1 }}</td>

      @for (col of columns; track col.field) {
        <td>
          @switch (col.field) {
            @case (countriesFields.name) {
              <div class="flex align-items-center gap-1 md:gap-2">
                <div class="flex flex-nowrap align-items-center gap-2 title">
                  <span>{{ records[countriesFields.flag] }}</span>
                  <span>{{ records[countriesFields.name].common }}</span>
                </div>

                <p-button type="button"
                          pRipple
                          [pRowToggler]="records"
                          [text]="true"
                          [rounded]="true"
                          [plain]="true"
                          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
              </div>
            }
            @case (countriesFields.continents) {
              <span class="white-space-nowrap">{{ records[col.field] | stringList }}</span>
            }
            @case (countriesFields.area) {
              {{ records[col.field] | area }}
            }
            @case (countriesFields.population) {
              {{ records[col.field] | number }}
            }
            @case (countriesFields.capital) {
              {{ records[col.field] | stringList }}
            }
            @case (countriesFields.languages) {
              @if ((records[col.field] | countryLanguagesNumbers) <= 3) {
                {{ records[col.field] | languageList }}
              } @else {
                <div class="flex flex-wrap align-items-center row-gap-1 column-gap-2">
                  <span>{{ records[col.field] | languageList: languageListMode.firstTree }}...</span>
                  <p-badge value="+{{ (records[col.field] | countryLanguagesNumbers) - 3 }}"
                           pTooltip="{{ records[col.field] | languageList: languageListMode.rest }}"
                           tooltipPosition="top"
                           [showDelay]="tooltipDelay" />
                </div>
              }
            }
            @default {
              {{ records[col.field] }}
            }
          }
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-selectedRecord>
    <tr>
      <td></td>

      <td colspan="10" class="py-3 md:py-5">
        <acn-country-details [loading]="countriesDetailsLoading[selectedRecord.cca3]"
                             [country]="countriesDetails[selectedRecord.cca3]" />
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="11">No countries found.</td>
    </tr>
  </ng-template>
</p-table>
