<div class="mt-1 flex flex-wrap align-items-center row-gap-2 column-gap-4 text-sm text-500">
  <div class="flex align-items-center">
    <i class="pi pi-flag mr-2"></i>
    <span>{{ stats.countries }} countries</span>
  </div>
  <div class="flex align-items-center">
    <i class="pi pi-globe mr-2"></i>
    <span>{{ stats.area | area }} area</span>
  </div>
  <div class="flex align-items-center">
    <i class="pi pi-users mr-2"></i>
    <span>{{ stats.population | number }} people</span>
  </div>
</div>
