<p-table #countriesTable
         [columns]="columns"
         [value]="data"
         dataKey="cca3"
         [globalFilterFields]="['name.common', 'capital']"
         [customSort]="true"
         [sortField]="sortField"
         (sortFunction)="sortData.emit($event)">

  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track col.field) {
        @if (col.sortFn) {
          <th [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"/>
          </th>
        } @else {
          <th>{{ col.header }}</th>
        }
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-records let-rowIndex="rowIndex" let-columns="columns">
    <tr>
      @for (col of columns; track col.field) {
        <td>
          @switch (col.field) {
            @case (countriesFields.numbering) {
              {{ rowIndex + 1 }}
            }
            @case (countriesFields.name) {
              <div class="flex flex-nowrap gap-2">
                <span>{{ records[countriesFields.flag] }}</span>
                <span>{{ records[countriesFields.name].common }}</span>
              </div>
            }
            @case (countriesFields.continents) {
              {{ records[col.field] | stringList }}
            }
            @case (countriesFields.area) {
              {{ records[col.field] | area }}
            }
            @case (countriesFields.population) {
              {{ records[col.field] | number }}
            }
            @case (countriesFields.capital) {
              {{ records[col.field] | stringList }}
            }
            @case (countriesFields.languages) {
              {{ records[col.field] | languageList }}
            }
            @case (countriesFields.timezones) {
              {{ records[col.field] | stringList }}
            }
            @default {
              {{ records[col.field] }}
            }
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>
