<div class="country-container">
  <div class="flag-column flex flex-column gap-5">
    <acn-country-details-flag [loading]="loading"
                              [flagUrl]="country?.flags?.svg"
                              [countryName]="country?.name?.common" />

    <acn-country-details-coat-of-arms [loading]="loading"
                                      [coatOfArmsUrl]="country?.coatOfArms?.svg"
                                      [countryName]="country?.name?.common" />
  </div>

  <div class="details-column flex flex-column">
    <acn-country-details-header [loading]=" loading"
                                [commonName]="country?.name?.common"
                                [independent]="country?.independent"
                                [cca2]="country?.cca2"
                                [cca3]="country?.cca3" />

    <p-divider styleClass="text-xs">Basic data</p-divider>

    <acn-country-details-basic-data [loading]="loading"
                                    [officialName]="country?.name?.official"
                                    [capital]="country?.capital"
                                    [population]="country?.population"
                                    [area]="country?.area"
                                    [languages]="country?.languages"
                                    [currencies]="country?.currencies" />

    <p-divider styleClass="text-xs mt-6">Geography</p-divider>

    <acn-country-details-geography-data [loading]="loading"
                                        [continents]="country?.continents"
                                        [region]="country?.region"
                                        [subregion]="country?.subregion"
                                        [coordinates]="country?.latlng"
                                        [landlocked]="country?.landlocked"
                                        [borders]="country?.borders"
                                        [googleMapsLink]="country?.maps?.googleMaps"
                                        [timezones]="country?.timezones" />

    <p-divider styleClass="text-xs mt-6">Fun facts</p-divider>

    <acn-country-details-fun-facts [loading]="loading"
                                   [startOfWeek]="country?.startOfWeek"
                                   [postalCode]="country?.postalCode"
                                   [carInfo]="country?.car" />
  </div>
</div>
